<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-07-09 16:52)</string>
	<string>T2.5.2 (1722)</string>
	<string>M3.5.2-2118-1</string>
	<string>M3.5.3-2150-2</string>
</array>
</plist>
