<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Farseer_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Farseer_Remote_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Farseer_Remote_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Farseer_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SLFarseer_Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SLFarseer_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39193BFD1AB9955400617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39193C071AB9955400617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39193C2A1AB9969800617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39193C341AB9969800617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39193C4E1AB996DD00617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39193C581AB996DD00617804</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5BDC1ABA5D4100720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5BF11ABA5D4100720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5C041ABA5DE500720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5C0E1ABA5DE500720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5C291ABA5E4C00720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397F5C331ABA5E4D00720D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398DDFC91A80C63D0019BB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>398DDFE51A80C63D0019BB12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D0349B1AB998DD00132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D034A51AB998DE00132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D034E81AB9A44F00132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D034F21AB9A44F00132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D0350C1AB9A4A600132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D035161AB9A4A600132F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC513B1A9EF1D3004D5484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC51451A9EF1D3004D5484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC51561A9EF253004D5484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39EC51601A9EF253004D5484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
